.row {
  width: 100%; max-width: 1600px;
  margin: 0 auto;
}
.row .row { min-width: 0px; }

.col, .cols {
  margin-left: 4.40%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col:first-child, .cols:first-child {
  margin-left: 0px;
}
.row .one.cols { width: 4.299999999999999%; }
.row .two.cols { width: 12.999999999999998%; }
.row .three.cols { width: 21.699999999999996%; }
.row .four.cols { width: 30.4%; }
.row .five.cols { width: 39.099999999999994%; }
.row .six.cols { width: 47.8%; }
.row .seven.cols { width: 56.5%; }
.row .eight.cols { width: 65.19999999999999%; }
.row .nine.cols { width: 73.89999999999999%; }
.row .ten.cols { width: 82.6%; }
.row .eleven.cols { width: 91.29999999999998%; }
.row .twelve.cols { width: 100%; }


.row .offset-by-one 	{ margin-left: 13.1%;  }
.row .offset-by-two 	{ margin-left: 21.8%;  }
.row .offset-by-three 	{ margin-left: 30.5%;  }
.row .offset-by-four 	{ margin-left: 39.2%;  }
.row .offset-by-five 	{ margin-left: 47.9%;  }
.row .offset-by-six 	{ margin-left: 56.6%;  }
.row .offset-by-seven 	{ margin-left: 65.3%;  }
.row .offset-by-eight 	{ margin-left: 74.0%;  }
.row .offset-by-nine 	{ margin-left: 82.7%;  }
.row .offset-by-ten 	{ margin-left: 91.4%;  }
/*.row .offset-by-eleven 	{ margin-left: 95.7%;  }*/