/* ---------- Global Style Settings ---------- */

.row {
  width: 100%; max-width: 1600px;
  margin: 0 auto;
}
.row .row { min-width: 0px; }

.col, .cols {
  margin-left: 4.40%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col:first-child, .cols:first-child {
  margin-left: 0px;
}
.row .one.cols { width: 4.299999999999999%; }
.row .two.cols { width: 12.999999999999998%; }
.row .three.cols { width: 21.699999999999996%; }
.row .four.cols { width: 30.4%; }
.row .five.cols { width: 39.099999999999994%; }
.row .six.cols { width: 47.8%; }
.row .seven.cols { width: 56.5%; }
.row .eight.cols { width: 65.19999999999999%; }
.row .nine.cols { width: 73.89999999999999%; }
.row .ten.cols { width: 82.6%; }
.row .eleven.cols { width: 91.29999999999998%; }
.row .twelve.cols { width: 100%; }


.row .offset-by-one 	{ margin-left: 13.1%;  }
.row .offset-by-two 	{ margin-left: 21.8%;  }
.row .offset-by-three 	{ margin-left: 30.5%;  }
.row .offset-by-four 	{ margin-left: 39.2%;  }
.row .offset-by-five 	{ margin-left: 47.9%;  }
.row .offset-by-six 	{ margin-left: 56.6%;  }
.row .offset-by-seven 	{ margin-left: 65.3%;  }
.row .offset-by-eight 	{ margin-left: 74.0%;  }
.row .offset-by-nine 	{ margin-left: 82.7%;  }
.row .offset-by-ten 	{ margin-left: 91.4%;  }
/*.row .offset-by-eleven 	{ margin-left: 95.7%;  }*/

.center-text {
	text-align: center;
}

/* ---------- Affiliates Page ---------- */

.page_title {
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.major_affiliate_row {
	background-color: #e1e4ea;
	padding-bottom: 2rem;
	
}

.major_affiliate_block {
}

.major_affiliate_info {
	background-color: white;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -3px;
}

.major_affiliate_pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.major_affiliate_name{
	padding-top: .85rem;
}

.major_affiliate_hr {
	border: solid #dddddd;
	border-width: 1px 0 0;
	clear: both;
	margin: .75rem auto 1.1875rem auto;
	height: 0;
	width: 85%;
}

.major_affiliate_description {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 1rem;
}

.ucsd_affiliate_row {
	background-color: #78a3a1;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.ucsd_affiliate_container {
	border: 3px solid white;
}

.ucsd_affiliate_title {
	color: white;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.ucsd_affiliate_name {
	color: white;
	margin-left: 2.5rem;
	margin-top: 1.5rem;
	font-size: 20px;
}

.ucsd_affiliate_name_small {
	color: white;
	margin-left: 1rem;
	margin-top: 1.5rem;
}

.other_affiliate_row {
	background-color: #e1e4ea;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.other_affiliate_container {
	border: 3px solid black;
}

.other_affiliate_title {
	color: black;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.other_affiliate_name {
	color: black;
	margin-left: 2.5rem;
	margin-top: 1.5rem;
	font-size: 20px;
}

.other_affiliate_name_small {
	color: black;
	margin-left: 1rem;
	margin-top: 1.5rem;
}

/* ---------- About Page ---------- */

.about_first_paragraph {
	margin-top: 1rem;
}

.about_second_paragraph {
	margin-top: 1rem;
}

/* ---------- Contact Page ---------- */

.contact_section {
	background-color: #78a3a1;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

/*.contact_section > h3, p {
	color:  white;
	margin-top: 1em;
}*/

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

#contact_form_message_textarea {
	resize: vertical;
	height: 10rem;
	max-height: 15rem;
}

/* ---------- People Page ---------- */

.people_content {
	margin-top: 2rem;
	/*background-color: #dfe1e3;*/
}

.first_people_container {
	background-color: #e1e4ea;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.first_people_container > .person_section {
	margin-top: 2rem;
}

.people_container {
	background-color: #e1e4ea;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.tabs dd.active a {
	background: lightgreen;
}

.tabs dd a {
	background: white;
}

.tabs dd a:hover {
	background: lightgreen;
}

.people_content > div > dl {
	margin-top: 2rem;
}

.modal_person_name {
	margin-bottom: 0rem;
}

.modal_person_job_title {
	margin-top: 0rem;
}




























